
body {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.gameboard-container {
 width: 600px;
 height: 600px;
 background-color: antiquewhite;
 display: grid;
 text-align: center;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(3, 1fr);
}

.gameboard-container div {
 border: 1px solid red;
 align-items: center;
 justify-content: center;
 font-size: 9em;
}
#startReset {
width: 12rem;
}
.winning-container {
 width: 60px;
 background-color: green;
 position: absolute;
}